release
release.dwarf
*.hi
*.o
bin
obj
fib
fib_mem
*.exe
*.class
project.lock.json
*.dSYM
*.dwarf
.Rhistory
nimcache
fib-mem
fib-constexpr
*.pyx.c
*.cmi
*.cmx
*.beam
optimized/fib-compiletime
optimized/fib-const
optimized/fib_tail
optimized/fib-local
optimized/fib_const
optimized/main
optimized/main.dSYM/
