ada             13.2.0
assembly        13.2.0
bash            5.2.21
bun             1.1.38
crystal         1.14.0
clojure         1.11.0
dart            3.5.4
dmd             2.109.1
dotnet-core     9.0.0
elixir          1.17.3
elm             0.19.1
erlang          27.1.2
fortran         13.2.0
g++             13.2.0
gcc             13.2.0
gnucobol        3.2.0
golang          1.23.2
groovy          4.0.24
guile           3.0.10
haskell         9.8.3
janet           1.36.0
java            openjdk-23
julia           1.11.1
K               3.6
kotlin          2.1.0
ldc             1.39.0
lua             5.4.7
luajit          2.1.1
mojo            24.5
nim             2.2.0
nodejs          23.3.0
ocaml           5.2.1
pascal          3.2.2
perl            5.40.0
php             8.4.1
pony            0.58.7
powershell-core 7.4.6
python          3.13.0
pypy            7.3.17
r               4.4.2
rakudo          2024.10
ruby            3.3.6
rust            1.83.0
sbcl            2.4.11
scala           3.3.4
swift           6.0.2
tcl             9.0.0
v               0.4.8
zig             0.14.0
